*{
	margin:0;
	padding:0;
	box-sizing: border-box;	
}
nav,header,footer{
	display: block;
}
body{
	line-height: 1.5;
	font-family: Bookman,Bookman Old Style;
}
/*Nav section*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
nav ul{
	overflow: hidden;
	list-style: none;
	/*margin-left: 50px;*/
	font-size: 16px;
	background-color:#5CDB95;
}
ul.topNav li{
	display: inline;
	float:left;
	font-weight: bold;
}
ul.topNav li a{
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	min-height: 20px;
	display: block;
	color:#05386B;
}
ul.topNav li a:hover{
	background-color:#05386B;
	color:#EDF5E1;
}
section#home{
	background-color:#5CDB95;
    width: auto;
    height:700px;
}
h1{
	color: #05386B;
	font-size: 30px;
	text-align: center;
}
/*jumbotron*/
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  text-align: center;
  color:#EDF5E1;
}
.jumbotron .container{
	padding-top: 180px;
}
.jumbotron h1{
	font-size: 63px;
	line-height: 1.5;
	color:#EDF5E1 !important
}
.jumbotron p{	
	padding: 10px 0;
	font-size: 31px;
}

/**[class*="col-"]{
	border:1px solid black;
}*/
section{
	margin:0;
	padding:0;
	background-color:#EDF5E1;
}
section#Profile{
	display: block;
	margin:auto;
}
section#Profile .info{
	text-align: center;
	padding:5px;
	line-height: 1.8;
}
section#Profile hr{
	width:80%;
	margin:auto;
}
.container{
	width:100%;
	display: block;
	margin:auto;
	padding-top:4%;
	padding-bottom: 4%;

}
.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.row::after{
	display: table;
	content: "";
	clear:both;

}
.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-1{width: 8.33%}
.col-2{width: 16.66%;}
.col-3{width:25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%; display: block;margin:auto;}
.col-11{width: 91.66;}
.col-12{width: 100%;}

/*profileSection*/
.carousel-container{
	display: block;
	width:40%;
	margin:auto;
	overflow: hidden;
	position: relative;
}
.carousel-slide{
	display: flex;
	width:100%;
	height:500px;
}
#prevBtn{
	position:absolute;
	top: 50%;
	z-index:10;
	left:5%;
	font-size:30px;
	color:white;
	opacity: 0.5;
	cursor: pointer;
}
#nextBtn{
	position:absolute;
	top: 50%;
	z-index:10;
	right:5%;
	font-size:30px;
	color:white;
	opacity: 0.5;
	cursor: pointer;
}
.aboutInfo{
	padding:10px;
	margin-left:100px;
}

.edcte{
	padding:5px;
	font-weight: bold;
	margin-left: 175px
}
.edcte2{
	padding:5px;
	font-weight: bold;
	margin-left: 185px;
}
section#Experience .row{
	padding:10px;
}
section#Experience .row ul{
	margin-left: 20px;
}
.lenny{
	margin-left: 20px;
}
section#Experience p.left{
	text-align: center;
}
section#Experience span.left{
	text-align: center;
}
section#Experience span{
	display: block;
	line-height: 1.8;
}
section#Skills{
	height:650px;
	width: auto;
}
section#Skills ul{
	padding:10px;
}
section#Skills ul li{
	line-height: 2.0;
	font-size: 18px;
}
footer#contact{
	background-color:#5CDB95;
}
div.right p{
	float: right;
}
footer div.col-6 a{
	text-decoration: none;
	color:#05386B;
}
footer div.col-6 a:hover{
	background-color:#05386B;
	color:#EDF5E1;
}